/* src/react/css/index.css */
:root {
  --titlebar: #dfdfdf;
  --titlebar-text: #000000;
  --tab-hover: #f4f4f4;
  --tab-active: #fff;
  --win-ctl-hover: #b9b9b9;
  --win-ctl-close-hover: #41ADEF;
  --win-ctl-close-hover-text: #fff;
  --bg: #dfdfdf;
}
@media (prefers-color-scheme: dark) {
  :root {
    --titlebar: #414141;
    --titlebar-text: #ffffff;
    --tab-hover: #373737;
    --tab-active: #121212;
    --win-ctl-hover: #373737;
    --win-ctl-close-hover: #41ADEF;
    --win-ctl-close-hover-text: #ffffff;
    --bg: #414141;
  }
}
html,
body {
  height: calc(100% - 4px);
  margin: 0;
}
body {
  background: var(--bg);
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#tabs,
#window-ctl {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: grid;
}
#titlebar li {
  color: var(--titlebar-text);
}
#titlebar svg {
  fill: var(--titlebar-text);
}
#bar {
  height: 4px;
  position: relative;
  background: var(--tab-active);
}
.fullscreen header,
.fullscreen #bar {
  display: none !important;
}
.fullscreen .main-cont {
  height: 100vh;
}
#window-ctl {
  -webkit-app-region: no-drag;
  grid-template-columns: 50px 50px 50px;
  margin-left: auto;
  position: relative;
  top: -4px;
  height: 36px;
}
#window-ctl li:not(#window-ctl-close):hover {
  background: var(--win-ctl-hover);
}
#window-ctl-close:hover {
  background: var(--win-ctl-close-hover);
}
#window-ctl-close:hover svg {
  fill: var(--win-ctl-close-hover-text);
}
#window-ctl li {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#window-ctl-min {
  grid-column: 1;
}
#window-ctl-max,
#window-ctl-restore {
  grid-column: 2;
  display: none !important;
}
#window-ctl .window-ctl-show {
  display: flex !important;
}
#window-ctl-close {
  grid-column: 3;
}
#tabs {
  grid-template-columns: 120px 120px 120px;
  margin-left: 6px;
}
.tab:hover {
  background: var(--tab-hover);
}
.tab {
  -webkit-app-region: no-drag;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.tab div {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tab-active div {
  background: var(--tab-active);
  border: 2px solid var(--tab-active);
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.tab-active div::before,
.tab-active div::after {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  content: "";
  border: 2px solid var(--tab-active);
  border-top: none;
}
.tab-active div::before {
  left: -12px;
  border-bottom-right-radius: 8px;
  border-left: none;
  box-shadow: 2px 2px 0 var(--tab-active);
}
.tab-active div::after {
  right: -12px;
  border-bottom-left-radius: 8px;
  border-right: none;
  box-shadow: -2px 2px 0 var(--tab-active);
}
.main-cont {
  width: 100%;
  height: calc(100% - 32px);
  border: 0;
  display: none;
}
.main-cont-show {
  display: block;
}
.hide {
  display: none !important;
}

/* src/react/css/conv.css */
:root {
  --border: #41ADEF;
  --bg: #fff;
  --text: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --border: #41ADEF;
    --bg: #121212;
    --text: #fff;
  }
}
body {
  background: var(--bg);
}
textarea:focus,
button:focus,
select:focus {
  outline: none;
}
#textarea {
  display: flex;
  height: calc(100% - 30px);
}
#header {
  display: flex;
}
#copy,
#clear {
  padding: 0px;
  height: 30px;
  width: calc(25% - 10px);
  border-radius: 10px;
  border: 2px solid var(--border);
  background: var(--bg);
  margin-left: 5px;
  margin-right: 5px;
}
#select {
  width: calc(50% - 10px);
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--border);
  background: var(--bg);
  margin-left: 5px;
  margin-right: 5px;
}
#input,
#output {
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  border: 2px solid var(--border);
  border-radius: 10px;
  background: var(--bg);
  color: var(--text);
  overflow: hidden;
  resize: none;
}

/* src/react/css/settings.css */
:root {
  --kb-table-bg: gray;
  --kb-td-bg: white;
  --del-cell-hover: gray;
}
@media (prefers-color-scheme: dark) {
  :root {
    --kb-table-bg: gray;
    --kb-td-bg: white;
    --del-cell-hover: gray;
  }
}
h3,
table,
button,
span {
  user-select: none;
}
table {
  background: var(--kb-table-bg);
}
td {
  background: var(--kb-td-bg);
}
.del-cell:hover {
  background: var(--del-cell-hover);
}
