:root {
    --border: #41ADEF;
    --bg: #fff;
    --text: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --border: #41ADEF;
        --bg: #121212;
        --text: #fff;
    }
}

body {
    background: var(--bg);
}

textarea:focus,
button:focus,
select:focus {
    outline: none;
}

#textarea {
    display: flex;
    height: calc(100% - 30px);
}

#header{
    display: flex;
}

#copy,
#clear {
    color: var(--text);
    padding: 0px;
    height: 30px;
    width: calc(25% - 10px);
    border-radius: 10px;
    border: 2px solid var(--border);
    background: var(--bg);
    margin-left: 5px;
    margin-right: 5px;
}

#select {
    color: var(--text);
    width: calc(50% - 10px);
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--border);
    background: var(--bg);
    margin-left: 5px;
    margin-right: 5px;
}

#input,
#output {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    border: 2px solid var(--border);
    border-radius: 10px;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    resize: none;
}