:root {
    --text:  #000000;
    --text-active: #41ADEF;
    --text-hover: #e6e6e6;
    --titlebar: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text:  #ffffff;
        --text-active: #41ADEF;
        --text-hover: #414141;
        --titlebar: #121212;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

li {
    color: var(--text);
}

li:hover {
    background: var(--text-hover)
}

#titlebar {
    -webkit-app-region: drag;
    user-select: none;
    background: var(--titlebar);
    display: flex;
}


.window-ctl {
    -webkit-app-region: no-drag;
    margin-left: auto;
}

.tab {
    -webkit-app-region: no-drag;
}

.tab.active {
    color: var(--text-active)
}

.cont {
    display: none;
}