:root {
    --text:  #000000;
    --tab-hover: #f4f4f4;
    --tab-active: #ffffff;
    --win-hover: #b9b9b9;
    --close-hover: #d82929;
    --close-hover-text: #ffffff;
    --titlebar: #dfdfdf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text:  #ffffff;
        --tab-hover: #373737;
        --tab-active: #121212;
        --win-hover: #373737;
        --close-hover: #d82929;
        --close-hover-text: #ffffff;
        --titlebar: #414141;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--titlebar);
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
}

li {
    color: var(--text);
}

svg {
    fill: var(--text);
}

iframe {
    width: 100%;
    height: calc(100vh - 40px);
    border: 0;
}

#titlebar {
    -webkit-app-region: drag;
    user-select: none;
    background: var(--titlebar);
    height: 36px;
    display: flex;
}

#window-ctl {
    -webkit-app-region: no-drag;
    grid-template-columns: 50px 50px 50px;
    margin-left: auto;
}

#window-ctl li:not(#close):hover {
    background: var(--win-hover);
}

#close:hover {
    background: var(--close-hover);
}

#close:hover svg {
    fill: var(--close-hover-text);
}

#window-ctl li {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#min {
    grid-column: 1;
}

#max, #restore {
    grid-column: 2;
    display: none !important;
}

#window-ctl .show-btn {
    display: flex !important;
}

#close {
    grid-column: 3;
}

#tabs {
    grid-template-columns: 125px 125px 125px;
    margin-left: 10px;
    margin-top: 4px;
}

#tabs li:hover {
    background: var(--tab-hover);
}

#bar {
    height: 4px;
    position: relative;
    background: var(--tab-active);
}

.fullscreen header,
.fullscreen #bar {
    display: none !important;
}

.fullscreen iframe {
    height: 100vh;
}

.tab {
    -webkit-app-region: no-drag;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab div {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tab.active div {
    background: var(--tab-active);
    border: 2px solid var(--tab-active);
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab.active div::before,
.tab.active div::after {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    content: "";
    border: 2px solid var(--tab-active);
    border-top: none;
}

.tab.active div::before {
    left: -12px;
    border-bottom-right-radius: 8px;
    border-left: none;
    box-shadow: 2px 2px 0 var(--tab-active);
}
.tab.active div::after {
    right: -12px;
    border-bottom-left-radius: 8px;
    border-right: none;
    box-shadow: -2px 2px 0 var(--tab-active);
}

.cont {
    display: none;
}

.cont.show {
    display: block;
}