:root {
    --titlebar: #dfdfdf;
    --titlebar-text:  #000000;
    --titlebar-tab-hover: #f4f4f4;
    --titlebar-tab-active: #fff;
    --win-ctl-hover: #b9b9b9;
    --win-ctl-close-hover: #41ADEF;
    --win-ctl-close-hover-text: #fff;
    --bg: #dfdfdf;
    --cjp-input-border: #41ADEF;
    --cjp-bg: #fff
}

@media (prefers-color-scheme: dark) {
    :root {
        --titlebar: #414141;
        --titlebar-text:  #ffffff;
        --titlebar-tab-hover: #373737;
        --titlebar-tab-active: #121212;
        --win-ctl-hover: #373737;
        --win-ctl-close-hover: #41ADEF;
        --win-ctl-close-hover-text: #ffffff;
        --bg: #414141;
        --cjp-input-border: #41ADEF;
        --cjp-bg: #121212;
    }
}

html, body {
    height: calc(100% - 4px);
    margin: 0;
}

body {
    background: var(--bg);
}

#titlebar {
    -webkit-app-region: drag;
    user-select: none;
    background: var(--titlebar);
    height: 32px;
    margin-top: 4px;
    margin-left: 4px;
    display: flex;
}

#titlebar-tabs,
#window-ctl {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
}

#titlebar li {
    color: var(--titlebar-text);
}

#titlebar svg {
    fill: var(--titlebar-text);
}

#window-ctl {
    -webkit-app-region: no-drag;
    grid-template-columns: 50px 50px 50px;
    margin-left: auto;
    position: relative;
    top: -4px;
    height: 36px;
}

#window-ctl li:not(#window-ctl-close):hover {
    background: var(--win-ctl-hover);
}

#window-ctl-close:hover {
    background: var(--win-ctl-close-hover);
}

#window-ctl-close:hover svg {
    fill: var(--win-ctl-close-hover-text);
}

#window-ctl li {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#window-ctl-min {
    grid-column: 1;
}

#window-ctl-max, #window-ctl-restore {
    grid-column: 2;
    display: none !important;
}

#window-ctl .window-ctl-show {
    display: flex !important;
}

#window-ctl-close {
    grid-column: 3;
}

#titlebar-tabs {
    grid-template-columns: 120px 120px 120px;
    margin-left: 6px;
}

.titlebar-tab:hover {
    background: var(--titlebar-tab-hover);
}

#bar {
    height: 4px;
    position: relative;
    background: var(--titlebar-tab-active);
}

.fullscreen header,
.fullscreen #bar {
    display: none !important;
}

.fullscreen .main-cont {
    height: 100vh;
}

.titlebar-tab {
    -webkit-app-region: no-drag;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.titlebar-tab div {
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titlebar-tab-active div {
    background: var(--titlebar-tab-active);
    border: 2px solid var(--titlebar-tab-active);
    border-bottom: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.titlebar-tab-active div::before,
.titlebar-tab-active div::after {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    content: "";
    border: 2px solid var(--titlebar-tab-active);
    border-top: none;
}

.titlebar-tab-active div::before {
    left: -12px;
    border-bottom-right-radius: 8px;
    border-left: none;
    box-shadow: 2px 2px 0 var(--titlebar-tab-active);
}
.titlebar-tab-active div::after {
    right: -12px;
    border-bottom-left-radius: 8px;
    border-right: none;
    box-shadow: -2px 2px 0 var(--titlebar-tab-active);
}

.main-cont {
    width: 100%;
    height: calc(100% - 32px);
    border: 0;
    display: none;
}

.main-cont-show {
    display: block;
}

#submarin-frame {
    width: 100%;
    height: 100%;
    border: 0;
}

#cjp-frame {
    background: var(--cjp-bg);
    display: flex;
    height: 100%;
}

#cjp-input,
#cjp-output {
    font-size: 25px;
    margin: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    border: 2px solid var(--cjp-input-border);
    border-radius: 10px;
    resize: none;
}

#cjp-input:focus,
#cjp-output:focus {
    outline: none;
}